{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container">
<div class="container py-5">
  <h1 class="display-5 fw-bold">{% trans "Ubytování v apartmánu" %}</h1>

  <p>
    {% trans "Nabízíme rodinné ubytování ve Cvikově, bráně Lužických hor." %}
    {% trans "Ubytujeme vás ve 3 pokojích, ve kterých naleznete 7 lůžek s možností dětské postýlky." %}
  </p>



  <h2 class="display-6 fw-bold">{% trans "Vybavení apartmánu" %}</h2>

  <ul>
    <li>{% trans "Příjemné, klidné ubytování pro rodinu či uzavřenou společnost. Apartmán má samostatný vchod." %}
    <li>{% trans "Je k dispozici i fén na vlasy a hračky pro děti do vany." %}
    <li>{% trans "Je možnost umístit v rámci schodiště dětskou zábranu." %}
    <li>{% trans "Na všech oknech jsou žaluzie a zatemňovací závěsy pro Váš klidný spánek." %}
    <li>{% trans "V kuchyni najdete vše pro Vaše vaření – indukční deska, trouba, myčka, lednice s mrazákem, mikrovlnná trouba a veškeré nádobí." %}
    <li>{% trans "V obývacím pokoji je televize, pohodlná sedačka, vybavený dětský koutek na hraní, stoleček se židličkami na kreslení, hrací koberec na autíčka." %}
    <li>{% trans "V přízemí se nachází prádelna s pračkou, sušičkou a sušákem na prádlo." %}
    <li>{% trans "Psi ani jiná zvířata nejsou s ohledem na děti vítána, děkujeme za pochopení." %}
  </ul>

  <h2 class="display-6 fw-bold">{% trans "Pokoje" %}</h2>

  <p>
    {% trans "Pro všechny pokoje je k dispozici veliká prostorná koupelna s vanou a toaletou v 1. patře a menší koupelna se sprchovým koutem a toaletou v přízemí." %}
  </p>

  <h3 class="display-7 fw-bold">{% trans "Tyrkys" %}</h3>
  <div class="row flex-lg-row-reverse g-5 py-5">
    <div class="col-lg-8">
      <a href="{% static "foto/tyrkys.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Tyrkysový pokoj" %}" alt="{% trans "Tyrkysový pokoj" %}">
        <img src="{% static "foto/tyrkys.jpg" %}" class="rounded img-fluid" />
      </a>
    </div>
    <div class="col-lg-4">
      <p>
        {% trans "Pokoj s manželským dvoulůžkem,  možnost dětské postýlky." %}
      </p>
    </div>
  </div>

  <h3 class="display-7 fw-bold">{% trans "Levandule" %}</h3>
  <div class="row flex-lg-row-reverse g-5 py-5">
    <div class="col-lg-8">
      <a href="{% static "foto/levandule.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Levandulový pokoj" %}" alt="{% trans "Levandulový pokoj" %}">
        <img src="{% static "foto/levandule.jpg" %}" class="rounded img-fluid" />
      </a>
    </div>
    <div class="col-lg-4">
      <p>
        {% trans "Třílůžkový pokoj s dvoulůžkem a další samostatnou postelí. Je možnost dát zábrany pro děti proti pádu z postele. Do pokoje se vejde i dětská postýlka." %}
      </p>
    </div>
  </div>

  <h3 class="display-7 fw-bold">{% trans "Fuchsie" %}</h3>
  <div class="row flex-lg-row-reverse g-5 py-5">
    <div class="col-lg-8">
      <a href="{% static "foto/fuchsie.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Fuchsiový pokoj" %}" alt="{% trans "Fuchsiový pokoj" %}">
        <img src="{% static "foto/fuchsie.jpg" %}" class="rounded img-fluid" />
      </a>
    </div>
    <div class="col-lg-4">
      <p>
        {% trans "Pokoj s dvěma samostatnými postelemi." %}
      </p>
    </div>
  </div>

  <h2 class="display-6 fw-bold">{% trans "Společné místnosti" %}</h2>

  <div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-5">
  <a href="{% static "foto/obyvak.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Obývací pokoj" %}" alt="{% trans "Obývací pokoj" %}">
    <img src="{% static "foto/obyvak.jpg" %}" class="rounded img-fluid" />
  </a>
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-5">
  <a href="{% static "foto/kuchyn.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Kuchyně" %}" alt="{% trans "Kuchyně" %}">
    <img src="{% static "foto/kuchyn.jpg" %}" class="rounded img-fluid" />
  </a>
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-5">
  <a href="{% static "foto/koupelna-dole.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Koupelna se sprchou" %}" alt="{% trans "Koupelna se sprchou" %}">
    <img src="{% static "foto/koupelna-dole.jpg" %}" class="rounded img-fluid" />
  </a>
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-5">
  <a href="{% static "foto/koupelna-nahore.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Koupelna s vanou" %}" alt="{% trans "Koupelna s vanou" %}">
    <img src="{% static "foto/koupelna-nahore.jpg" %}" class="rounded img-fluid" />
  </a>
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 p-5">
  <a href="{% static "foto/pradelna.jpg" %}" data-toggle="lightbox" data-gallery="lightbox" data-caption="{% trans "Prádelna" %}" alt="{% trans "Prádelna" %}">
    <img src="{% static "foto/pradelna.jpg" %}" class="rounded img-fluid" />
  </a>
  </div>
  </div>


</div>
{% endblock %}
