{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Konktaktujte Apartmán Cvikov" %}{% endblock %}

{% block content %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <iframe style="border:none" src="https://frame.mapy.cz/s/bofuzavehe" width="500" height="333" frameborder="0"></iframe>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Apartmán Cvikov" %}</h1>
        <p class="lead">
          📞 <a href="tel:+420123456789">+420123456789</a><br />
          🖂 <a href="mailto:ubytovani@apartmancvikov.cz">ubytovani@apartmancvikov.cz</a><br />
          Nábřežní 694<br />
          471 54 Cvikov
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="https://mapy.cz/s/dajegujusu" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
          <a href="https://goo.gl/maps/6ZUrNY4akvAFRFyNA" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
