{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Výlety z Apartmánu Cvikov" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Vyhlídka Dutý kámen" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://mapy.cz/s/baberoraku" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/DwxFfvEUd16CQSKV6" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Vyhlídka Švýcárna" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://mapy.cz/s/kegebolugu" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/315pvKzuVAPQwvNf9" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Schillerova vyhlídka" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://mapy.cz/s/gomucugobu" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/oxiLPPZxcKuctHWh6" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>



  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Křížová cesta" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://mapy.cz/s/cujolovepu" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/cW3A3xYKxhx9Tcha8" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Skalní hrad Sloup" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="http://www.hradsloup.cz/" class="btn btn-outline-secondary btn-lg px-4">{% trans "Web" %}</a>
        <a href="https://mapy.cz/s/doguzelehe" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/CwJfZdnRVXatuNE4A" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Hrad a klášter Oybin" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://oybin.com/" class="btn btn-outline-secondary btn-lg px-4">{% trans "Web" %}</a>
        <a href="https://mapy.cz/s/cevameveku" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/npRiusrhFbQ7UajEA" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Motýlí dům Jonsdorf" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://www.schmetterlingshaus.info/" class="btn btn-outline-secondary btn-lg px-4">{% trans "Web" %}</a>
        <a href="https://mapy.cz/s/hegulehuno" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/RuARvnhcqyT3KWBJ9" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>


  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Výletní turistický vláček" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://www.horskyexpres.cz/" class="btn btn-outline-secondary btn-lg px-4">{% trans "Web" %}</a>
      </div>
    </div>
  </div>


  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Skleněná zahrada Kunratice u Cvikova" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="http://www.pacinekglass.com/" class="btn btn-outline-secondary btn-lg px-4">{% trans "Web" %}</a>
        <a href="https://mapy.cz/s/bumalehefo" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://g.page/pacinek-glass?share" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Sklárna AJETO Lindava" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="http://www.ajetoglass.com/cs/exkurze/" class="btn btn-outline-secondary btn-lg px-4">{% trans "Web" %}</a>
        <a href="https://mapy.cz/s/busolekoja" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/PoRP93RvHTJEJ8Kc6" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static "vylety/.jpg" %}" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{% trans "Hora Klíč" %}</h1>
      <p class="lead">
        {% trans "" %}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://mapy.cz/s/fomadacozu" class="btn btn-outline-secondary btn-lg px-4">Mapy.cz</a>
        <a href="https://goo.gl/maps/iydSKgPPMiVEkUzk6" class="btn btn-outline-secondary btn-lg px-4">{% trans "Mapy Google" %}</a>
      </div>
    </div>
  </div>
</div>


<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">{% trans "Další tipy na výlet" %}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">{% trans "V okolí je toho k vidění mnohem více. Podívejte se na webové stránky okolních oblastí a objevte další zajímavosti." %}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="http://www.luzihory.cz/" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">{% trans "Lužické hory" %}</a>
        <a href="https://www.ceskesvycarsko.cz/" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">{% trans "Českosaské Švýcarsko" %}</a>
        <a href="https://www.kudyznudy.cz/kam-pojedete/ceskolipsko-a-jizerske-hory/ceskolipsko" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">{% trans "Českolipsko" %}</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
